@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: "Raleway", sans-serif;
   
}
@media only screen and (max-width: 575px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 90%;
  }


}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 80%;
  }

  
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  .container {
    width: 70%;
  }

  
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 20px;
  }

  .container {
    width: 60%;
  }


}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 22px;
  }

  .container {
    width: 50%;
  }

 
}